body {
  margin: 0;
    background-color: #ffffff99;
     color:white;
}

header{
  background-color: #f54748;
  height: 40px;
  padding: 20px;
  color: white;
  
}


header img{
  float: left;
}

header nav{
  float: right;
}

header h1{
  margin: 0 0 0 30px;
  display: inline-block;
}

header nav ul li a{
  text-decoration: none;
  color: white;
}

header nav ul {
  text-align: center;
}
header nav ul li{
  display: inline-block;
  margin-right: 10px;
}
#section1{
 
  padding: 10px;
}
#section1 div{
  background-color: #f54748;
display: inline-block;
width:40%;
padding: 10px;
}

#section1 img{

float: right;
}

#section2 div{
  background-color: #f54748;
  width:30%;
  display: inline-block;
  text-align: center;
  margin: 100px 100px;
  padding: 15px;
  
}

#section2 div img{
  width:100%; 
  height:250px;
}

footer{
  background-color: #f54748;
  height: 30px;
  color: white;
  text-align: center;
  padding:10px;
}
footer p{
float: left;
margin: 10px 0 0 0;
}

footer div{
  margin: 10px 0 0 0;
float: right;
text-align: center;
}
footer div a{

margin-right: 10px;
text-decoration: none;
color: #ffffff;
}

hr {
  border: 10px solid #f54748;
  border-radius: 5px;
  margin: 20px 0;
}